body{
    height: 95vh;
    width: 95vw;
    background-image: linear-gradient(to right,white,#faf8f5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.green{
    border-radius: 3%;
    padding: 30px 45px;
    width: 50vh;
    margin: 10%;
    background-color: greenyellow;
    align-self: center;
}
.red{
    border-radius: 3%;
    padding: 30px 45px;
    width: 50vh;
    margin: 10%;
    background-color: red;
    align-self: center;
}
.greenbu{
    background-color:greenyellow;
    padding: 20px 20px;
    border-radius: 10%;
    text-size-adjust: 50px;
    color: white ;
    font-size: large;
    font: "FSP demo-blue vinyl";
}
.redbu{
    background-color:red;
    padding: 20px 20px;
    border-radius: 10%;
    text-size-adjust: 50px;
    color: white ;
    font-size: large;
    font: "FSP demo-blue vinyl";
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}